@model DDAC.Models.User

@{
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<script type="application/x-javascript">
		addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
			   function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- //custom-theme -->
	<link href="~/guide/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="~/guides/css/style.css" rel="stylesheet" type="text/css" media="all">
	<link href="~/guides/css/font-awesome.css" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
	<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
</head>
<body>

	<div class="banner-top">
		<div class="header">
			<div class="container">
				<div class="header-left">
					<div class="agileinfo-phone">
						<p><i class="fa fa-volume-control-phone" aria-hidden="true"></i> +60 (016)234-2345 </p>
					</div>
					<div class="agileinfo-phone agileinfo-map">
						<p><i class="fa fa-map-marker" aria-hidden="true"></i> Jalan Teknologi 5, Bukit Jalil, Kuala Lumpur, Malaysia.</p>
					</div>
					<div class="search-grid">
						<form action="#" method="post">
							<input type="text" name="subscribe" placeholder="Subscribe" class="big-dog" required="">
							<button class="btn1"><i class="fa fa-search" aria-hidden="true"></i></button>
						</form>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<div class="w3_navigation">
			<div class="container">
				<nav class="navbar navbar-default">
					<div class="navbar-header navbar-left">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<h1>@Html.ActionLink("Maersk Line", "Index2", "Schedules", null, new { @class = "navbar-brand" })</h1>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
						<nav class="menu menu--iris">
							<ul class="nav navbar-nav menu__list">
								<li class="menu__item">@Html.ActionLink("Home", "Login", "User", null, new { @class = "menu__link" })</li>
								<li class="menu__item">@Html.ActionLink("Booking", "Login", "User", null, new { @class = "menu__link" })</li>
								<li class="menu__item">@Html.ActionLink("Schedule", "Login", "User", null, new { @class = "menu__link" })</li>
								<li class="menu__item">@Html.ActionLink("Register", "Registration", "User", null, new { @class = "menu__link" })</li>
							</ul>
						</nav>
					</div>
				</nav>

			</div>
		</div>
	</div>

	<div class="contact-w3ls">
		<div class="container">
			<div class="agileits_heading_section">
				<h3 class="wthree_head">Registration</h3>
				<p class="w3l_sub_para_agile">Join us now</p>
			</div>

		</div>
	</div>

	@if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
	{
		if (ViewBag.Message != null)
		{
			<div class="alert alert-success">
				<strong>Success!</strong>@ViewBag.Message
			</div>
		}

	}
	else
	{
		using (Html.BeginForm())
		{
			@Html.AntiForgeryToken()

			<div class="form-horizontal">

				<hr />
				@Html.ValidationSummary(true, "", new { @class = "text-danger" })
				<div class="form-group">
					@Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
						@Html.ValidationMessage("EmailExist", new { @class = "text-danger" })
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<input type="submit" value="Create" class="btn btn-default" /> @Html.ActionLink("Sign in", "Login", "User", null, new { @class = "btn btn-default" })
					</div>
				</div>
			</div>

			if (ViewBag.Message != null)
			{
				<div class="alert alert-danger">
					<strong>Error!</strong>@ViewBag.Message
				</div>
			}
		}
	}



	<div class="container body-content">

		<hr />
		<footer>
			<p>&copy; @DateTime.Now.Year - Maersk Line Application</p>
		</footer>
	</div>

	<script src="~/Scripts/jquery-1.10.2.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>

	@section Scripts{
		<script src="~/Scripts/jquery.validate.min.js"></script>
		<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
	}
</body>
</html>
