<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<script type="application/x-javascript">
		addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
			   function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- //custom-theme -->
	<link href="~/guide/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="~/guides/css/style.css" rel="stylesheet" type="text/css" media="all">
	<!-- font-awesome-icons -->

	<link href="~/guides/css/font-awesome.css" rel="stylesheet">
	<!-- //font-awesome-icons -->
	<link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
	<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="banner-top">
		<div class="header">
			<div class="container">
				<div class="header-left">
					<div class="agileinfo-phone">
						<p><i class="fa fa-volume-control-phone" aria-hidden="true"></i> +60 (016)234-2345 </p>
					</div>
					<div class="agileinfo-phone agileinfo-map">
						<p><i class="fa fa-map-marker" aria-hidden="true"></i> Jalan Teknologi 5, Bukit Jalil, Kuala Lumpur, Malaysia.</p>
					</div>
					<div class="search-grid">
						<form action="#" method="post">
							<input type="text" name="subscribe" placeholder="Subscribe" class="big-dog" name="Subscribe" required="">
							<button class="btn1"><i class="fa fa-search" aria-hidden="true"></i></button>
						</form>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<div class="w3_navigation">
			<div class="container">
				<nav class="navbar navbar-default">
					<div class="navbar-header navbar-left">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<h1>@Html.ActionLink("Maersk Line", "Index2", "Schedules", null, new { @class = "navbar-brand" })</h1>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
						<nav class="menu menu--iris">
							<ul class="nav navbar-nav menu__list">
								<li class="menu__item"><a href="#" class="menu__link">@Html.ActionLink("Home", "Index")</a></li>
								<li class="menu__item"><a href="Schedules/Index2" class="menu__link">About</a></li>
								<li class="menu__item"><a href="#" class="menu__link">Booking</a></li>
								<li class="dropdown menu__item">
									<a href="#" class="dropdown-toggle menu__link" data-toggle="dropdown">Schedule<b class="caret"></b></a>
									<ul class="dropdown-menu agile_short_dropdown">

										<li><a href="#">Search Schedule</a></li>


									</ul>
								</li>
								<!--<li class="menu__item menu__item--current">@Html.ActionLink("Login", "Login")</li>-->
							</ul>
						</nav>
					</div>
				</nav>

			</div>
		</div>
	</div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Maersk Line Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
	@RenderSection("Scripts", false)

</body>
</html>