@model DDAC.Models.ScheduleBooking

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />
	<link href='https://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>

	<!-- Latest compiled and minified CSS -->
	<link href="~/guides3/css/style2.css" rel="stylesheet" type="text/css" media="all">
	<link href="~/guides/css/style.css" rel="stylesheet" type="text/css" media="all">
	<!-- Latest compiled and minified JavaScript -->

	<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />



</head>
<body>
	<br />
	<div class="contact-w3ls">
		<div class="container">
			<div class="agileits_heading_section">
				<h3 class="wthree_head">Selected Booking</h3>
				<p class="w3l_sub_para_agile">Schedule Booking</p>
			</div>

		</div>
	</div>
	<h3>Schedule Booking</h3>


	@using (Html.BeginForm("Selection2", "Schedules", FormMethod.Post))
	{

		@Html.HiddenFor(a => a.UsersId)
		<div class="form-group">
			<label>Schedule Id</label>
			@Html.TextBoxFor(a => a.ScheduleId, new { @class = "form-control", disabled = "disabled" })


			@Html.ValidationMessageFor(a => a.ScheduleId)
		</div>
		<div class="form-group">

			<label>Cargo</label>
			@Html.TextBoxFor(a => a.Cargo, new { @class = "form-control" })
			@Html.ValidationMessageFor(a => a.Cargo)
		</div>
		<div class="form-group">
			<label>Container Type</label>
			@Html.TextBoxFor(a => a.ContainerType, new { @class = "form-control" })
			@Html.ValidationMessageFor(a => a.ContainerType)
		</div>

		<div>
			<input class="popup btn btn-primary" type="submit" value="Confirm" />
		</div>
	}
	<script src="~/Scripts/jquery-3.3.1.min.js"></script>
	<script src="~/Scripts/jquery.validate.min.js"></script>
	<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
	<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
	
</body>
</html>



