@model DDAC.Models.ScheduleBooking

<br /><br /><br /><br /><br />
<h3>Schedule Booking</h3>


	@using (Html.BeginForm("Selection2", "Schedules", FormMethod.Post))
	{

		@Html.HiddenFor(a => a.UsersId)
		<div class="form-group">
			<label>Schedule Id</label>
			@Html.TextBoxFor(a => a.ScheduleId, new { @class = "form-control" })
			@Html.ValidationMessageFor(a => a.ScheduleId)
		</div>
		<div class="form-group">
		
			<label>Cargo</label>
			@Html.TextBoxFor(a => a.Cargo, new { @class = "form-control" })
			@Html.ValidationMessageFor(a => a.Cargo)
		</div>
		<div class="form-group">
			<label>Terminal</label>
			@Html.TextBoxFor(a => a.ContainerType, new { @class = "form-control" })
			@Html.ValidationMessageFor(a => a.ContainerType)
		</div>

		<div>
			<input class="popup btn btn-primary" type="submit" value="Save" />
		</div>
	}




