@model IEnumerable<DDAC.Models.ScheduleBooking>

Welcome @HttpContext.Current.User.Identity.Name

<br />
@if (Request.IsAuthenticated)
{
	using (Html.BeginForm("Logout", "User", FormMethod.Post, new { id = "logoutForm" }))
	{

		<a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
	}
}
else
{
	using (Html.BeginForm("Login", "User", FormMethod.Post, new { id = "loginForm" }))
	{
		@Html.AntiForgeryToken()
		<a href="javascript:document.getElementById('loginForm').submit()">Please login</a>
	}
}
<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />
	<link href='https://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>

	<!-- Latest compiled and minified CSS -->
	<link href="~/guides3/css/style2.css" rel="stylesheet" type="text/css" media="all">
	<link href="~/guides/css/style.css" rel="stylesheet" type="text/css" media="all">
	<!-- Latest compiled and minified JavaScript -->

	<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />



</head>
<body>

	<div class="contact-w3ls">
		<div class="container">
			<div class="agileits_heading_section">
				<h3 class="wthree_head">Booking</h3>
				<p class="w3l_sub_para_agile">View Booking</p>
			</div>

		</div>
	</div>

	@Html.ActionLink("Add New Booking", "Index", "Schedules", null, new { @class = "popup btn btn-primary" })
	
	<table class="table">
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.BookingId)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Cargo)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ContainerType)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Schedule.FromLocation)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Schedule.ToLocation)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Schedule.ShipmentDate)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Schedule.Rate)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.User.Username)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.User.Address)
			</th>
			<th></th>
		</tr>

		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.BookingId)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Cargo)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ContainerType)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Schedule.FromLocation)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Schedule.ToLocation)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Schedule.ShipmentDate)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Schedule.Rate)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.User.Username)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.User.Address)
				</td>

			</tr>
		}

	</table>
	<script src="~/Scripts/jquery-3.3.1.min.js"></script>
	<script src="~/Scripts/jquery.validate.min.js"></script>
	<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
	<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
	


</body>
</html>
